<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLoglevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly-="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="File" name="allfile" fileName="c:\RestaurantAPILogs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
    
    <target xsi:type="File" name="exception" fileName="c:\RestaurantAPILogs\nlog-all-exception-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="RestaurantAPO*" minlevel="Error" writeTo="exception" />
  </rules>
</nlog>